@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Color Scheme 1 */
/* :root {
    --primary: #fafaf7;
    --secondary: #eadbc8;
    --accent: #f5b7b1;
    --background: #3c6e47;
    --text: #2f2f2f;
  } */

  /* Color Scheme 2 */
  /* :root {
    --primary: #FFFBF8;
    --secondary: #F4EDE4;
    --accent: #D96C7C;
    --background: #6D4C41;
    --text: #3B3B3B;
  } */

  /* Color Scheme 3 */
  :root {
    --primary: #fff;
    --secondary: #C8E6C9;
    --accent: #FFCDD2;
    --background: #4CAF50;
    --text: #212121;
  }

  /* Color Scheme 4 */
  /* :root {
    --primary: #F5F5F5;
    --secondary: #A5D6A7;
    --accent: #F8BBD0;
    --background: #2E7D32;
    --text: #1A1A1A;
  } */

  /* Color Scheme Mix */
  /* :root {
    --primary: #F5F5F5;
    --secondary: #A5D6A7;
    --accent: #F8BBD0;
    --background: #4CAF50;
    --text: #1A1A1A;
  } */

  h1 {
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
  }

  h1 span {
    color: var(--accent);
  }

  h2 {
    font-family: 'Raleway', sans-serif;
  }

  p {
    font-family: 'Inter', sans-serif; 
  }
  
  section {
    text-align: center;
    padding: 5%;
  }
  
   input, textarea {
    min-width: 100%;
    border: 2px solid var(--background);
   }

   form div{
    padding-block: 1%;
   }

   form input,
   form textarea {
    padding: 2%;
   }