.env
client/.dockerignore
client/Dockerfile
server/.dockerignore
server/Dockerfile
docker-compose.yml
# Env files
.env

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Nginx
nginx/

# Node.js server
server/node_modules/
client/node_modules/

# Logs
*.log
